*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

body{
  background: #fefefe;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #5779FF;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #5779FF transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard{
  background-color: #0B2559;
  display: flex;
  height: 100vh;
}
.dashboard-content{
  margin: 20px;
  background-color: #F3F6F9;
  padding: 20px;
  gap: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  
}
.dashboard-block{
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 5px 22px rgba(0,0,0,0.05);
}
.dashboard-block h2{
  margin-bottom: 10px;
}
.dashboard-block p{
  margin-bottom: 10px;
}
.all-results{
  grid-row: 3 / -1;
  grid-column: 1 / 6;
}
.global-stats{
    grid-column: 1 / 6;
}
.dashboard-nav{
  grid-column: 1 / -1;
  width: 100%;
}
.adaptive-data{
  position: relative;
  grid-column: 6 / -1;
  grid-row: 2 / -1;
}
.adaptive-data .lds-ring {
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.results-table{
  overflow-y: scroll;
  height: 90%;
}
.table-header{
  background-color: white;
  position: sticky;
  top: 0;
  font-weight: 700;
}
.results-table > .single-row{
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding:0.35em;
  border-bottom: 2px solid #c9c9d4;
  font-size: 0.9rem;
  color: #797980;
}
.results-table > .single-row p{
  margin-bottom: 0;
}
.results-table > .single-row a{
  cursor: pointer;
  color: #5779FF;
  font-weight: 600;
}
.results-table > .single-row a:hover{
  text-decoration: underline;
}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.global-data{
  display: flex;
}
.global-data img{
  margin-bottom: 10px;
  width: 60px;
  height: 60px;

}
.gd-stat{
  min-width: 100px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #5779FF;
  color: #F3F6F9;
  border-radius: 10px;
  margin-right: 20px;
}
.global-data .gd-stat p{
  font-size: 2.5rem;
  font-weight: 300;
}
.global-data .gd-stat h3{
  font-size: 1.2rem;
  font-weight: 600;
}

.country-name{
  font-family: 600;
  color: #5779FF;
  cursor: pointer;
}
.country-name:hover{
  text-decoration: underline;
}

.flag{
  background-color: #eee;
  padding: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}
.countryNameFlag{
  display: flex;
  align-items: center;
}
.single-country-data{
  width: 100%;
  max-width: 300px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.single-country-data p{
  font-size: 0.9rem;
  margin: 0;
  padding: 0.25em;
  border-bottom: 1px solid #797980;
}
.single-country-data > div:first-of-type p{
  font-weight: 600;
  text-align: right;
}
.single-country-data > div:first-of-type p:after{
  content: " :"
}